body {background-color: #4495e4; width:400px; margin-right: auto; margin-left: auto;
font-family:'Roboto';}
a {color: #bcbec0;}


img {height: 35px;}
.logo {width:400px; padding-top:40px; padding-bottom: 30px; text-align: center}



h1 {font-weight: 300; text-align: center; color: #515151;margin-top: 40px; margin-bottom:40px; }

fieldset {background-color: #ffffff;
	width:320px;
	padding-left: 40px; padding-right: 40px;
	margin-left: auto; margin-right: auto;
	border:none; border-radius: 3px;}



label {font-size:16px;}

input{font-size:14px; width:286px; border: solid #bcbec0 2px; padding:15px; margin-bottom:35px; margin-top:15px; border-radius: 3px}

button {width:320px;
		padding-left: 40px; padding-right: 40px;
		margin-left: auto; margin-right: auto;
		border:none; height: 55px; background-color: #0cb863;
		color:#ffffff; font-size: 20px; box-shadow: 0; border-radius: 3px }

.forgot {font-weight: 500; font-size:14px; text-align: center; margin:10 0 20 0px;}

.login {color:#ffffff; font-size:16px; text-align: center; margin-top:20px; text-decoration: none;
}
.login a {color: #ffffff;}